{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<style>
    .list-group-item {
        font-size: 12px;
    }

    .feed {
        float: right;
        font-size: 12px;
    }

    #stat {
        width: 100%;
        height: 100%;
    }

    .fright {
        float: right;
    }
</style>

<!-- Header -->
<div class="header pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a style="color: black;" href="#">Exams</a></li>
                            <li class="breadcrumb-item"><a style="color: black;" href="#"><i
                                        class="fas fa-home"></i></a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-8">
            <div class="card">
                <div style="background-color: white;" class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div id="c1" class="col">
                            <!-- <h6 class="text-light text-uppercase ls-1 mb-1">My Courses</h6> -->
                            <h5 class="h3 text-black mb-0">Question 1</h5>
                        </div>
                    </div>
                </div>
                <div style="background-color:white" class="card-body">
                    <!-- Course -->
                    <div id="c1">
                        <p>
                            A callback is a plain JavaScript function passed to some method as an argument or option. 
                            Some callbacks are just events, called to give the user a chance to react when a certain state is triggered.
                            Define callback.
                        </p>
                        <textarea style="width: 100%; background-color: white; opacity: 0.5;" id="" cols="0"
                            rows="6">  your solution ..</textarea>
                    </div>
                </div>
                <div style="background-color: white;" class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div id="c1" class="col">
                            <!-- <h6 class="text-light text-uppercase ls-1 mb-1">My Courses</h6> -->
                            <h5 class="h3 text-black mb-0">Question 2</h5>
                        </div>
                    </div>
                </div>

                <div style="background-color:white" class="card-body">
                    <!-- Course -->
                    <div id="c2">
                        <p>
                            Which built-in method adds one or more elements to the end of an array and returns the new length of the array?
                        </p>
                        <textarea style="width: 100%; background-color: white; opacity: 0.5;" id="" cols="0"
                            rows="6">  your solution ..</textarea>
                    </div>
                </div>
                <div style="background-color: white;" class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div id="c1" class="col">
                            <!-- <h6 class="text-light text-uppercase ls-1 mb-1">My Courses</h6> -->
                            <h5 class="h3 text-black mb-0">Question 3</h5>
                        </div>
                    </div>
                </div>

                <div style="background-color:white" class="card-body">
                    <!-- Course -->
                    <div id="c3">
                        <p>
                            Which built-in method returns the characters in a string beginning at the specified location?
                        </p>
                        <textarea style="width: 100%; background-color: white; opacity: 0.5;" id="" cols="0"
                            rows="6">  your solution ..</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div id="result-of-question" class="pulse animated" style="display: block;">
                            <span id="totalCorrect" class="pull-right"></span>
                            <table class="table table-hover table-responsive">
                                <thead>
                                    <tr>
                                        <th><a href=".0.0.1:8000/result/" class="btn-primary btn-sm">Submit</a></th>
                                        <th><a href=".0.0.1:8000/selection/exam/" class="btn-primary btn-sm">Save for later</a></th>
                                    </tr>
                                </thead>
                                <!-- <tbody id="quizResult"></tbody> -->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4">
            <div class="card">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a href="#c1">Question 1</a>
                            </li>
                            <li class="list-group-item">
                                <a href="#c2">Question 2</a>
                            </li>
                            <li class="list-group-item">
                                <a href="#c3">Question 3</a>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'includes/footer.html' %}

</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}