{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<style>
    .list-group-item {
        font-size: 12px;
    }

    .feed {
        float: right;
        font-size: 12px;
    }

    #stat {
        width: 100%;
        height: 100%;
    }
    li {
        list-style-type: none;
    }
</style>

<!-- Header -->
<div class="header pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a style="color: black;" href="#">Level 1: Data Structure & Variables</a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!-- Card stats -->
        </div>
    </div>
</div>

<!-- Page content --> 
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-8">
            <div class="card">
                <div style="background-color: white;" class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div id="c1" class="col">
                            <!-- <h6 class="text-light text-uppercase ls-1 mb-1">My Courses</h6> -->
                            <h5 class="h3 text-black mb-0">Question 1</h5>
                        </div>
                    </div>
                </div>
                <div style="background-color:white" class="card-body">
                    <!-- Course -->
                    <div class="course">
                        <p>
                            Solutions Grouping
                            About
                            This site will make an attempt to group similar solutions together so that they may be voted
                            on and discussed as a group. If you have any feedback on how this process can be improved,
                            this is the place to talk about it.
                        </p>
                        <textarea style="width: 100%; background-color: white; opacity: 0.5;" id="" cols="0"
                            rows="6">  your solution ..</textarea>
                        <a href="/selection/" class="btn-primary btn-sm">Submit</a>
                        <a href="/selection/" class="btn-primary btn-sm">Save for later</a>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card">
                <div class="card-body">
                    <h3>Looking for help? Dont hesitate to discuss with the community</h3>
                    <a href="/discussion/" type="button" class="btn btn-primary btn-sm btn-block">Discussion</a>     
                </div>
            </div>
        </div>
    </div>
    {% include 'includes/footer.html' %}

</div>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}

