{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<style>
    .list-group-item {
        font-size: 12px;
    }

    .feed {
        float: right;
        font-size: 12px;
    }

    #stat {
        width: 100%;
        height: 100%;
    }
    .fright {
        float: right;
    }
</style>

<!-- Header -->
<div class="header pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a style="color: black;" href="#">Training</a></li>
                            <li class="breadcrumb-item"><a style="color: black;" href="#">
                                <i class="fas fa-book-open"></i>
                            </a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-8">
            <div class="card">
                <div style="background-color: white;" class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div id="c2" class="col">
                            <!-- <h6 class="text-light text-uppercase ls-1 mb-1">My Courses</h6> -->
                            <h5 class="h3 text-black mb-0">Javascript Programming<p class="fright mb-0">
                                <a class="btn-sm btn-primary" style="font-size: 15px;" href="/selection/"><b>Continue</b></a>                            
                            </p>
                            </h5>                        
                        </div>
                    </div>
                </div>
                <div style="background-color:white" class="card-body">
                    <!-- Course -->
                    <div class="course">
                        <p>
                            JavaScript, often abbreviated as JS, is a programming language that conforms to the ECMAScript specification. 
                            JavaScript is high-level, often just-in-time compiled, and multi-paradigm.
                        </p>
                    </div>
                </div>
                <div style="background-color: white;" class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div id="c2" class="col">
                            <!-- <h6 class="text-light text-uppercase ls-1 mb-1">My Courses</h6> -->
                            <h5 class="h3 text-black mb-0">Machine Learning<p class="fright mb-0">
                                <a class="btn-sm btn-primary" style="font-size: 15px;" href="/selection/"><b>Continue</b></a>                            
                            </p>
                            </h5>                        
                        </div>
                    </div>
                </div>
                <div style="background-color:white" class="card-body">
                    <!-- Course -->
                    <div class="course">
                        <p>

                            Machine learning is the study of computer algorithms that improve automatically through experience. 
                            It is seen as a subset of artificial intelligence.
                        </p>                    
                    </div>
                </div>
                <div style="background-color: white;" class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div id="c2" class="col">
                            <!-- <h6 class="text-light text-uppercase ls-1 mb-1">My Courses</h6> -->
                            <h5 class="h3 text-black mb-0">Web Technology<p class="fright mb-0">
                                <a class="btn-sm btn-primary" style="font-size: 15px;" href="/selection/"><b>Continue</b></a>                            
                            </p>
                            </h5>                        
                        </div>
                    </div>
                </div>
                <div style="background-color:white" class="card-body">
                    <!-- Course -->
                    <div class="course">
                        <p>
                            Web technology refers to the means by which computers communicate with each other using markup languages and multimedia packages. 
                            It gives us a way to interact with hosted information, like websites. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a href="#c1">Javascript Programming</a>
                            </li>
                            <li class="list-group-item">
                                <a href="#c2">Machine Learning</a>
                            </li>
                            <li class="list-group-item">
                                <a href="#c3">Web Technology</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'includes/footer.html' %}

</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
<script>
</script>
{% endblock javascripts %}